img {
	max-width: 100%;
	height: auto;
}

header {
	position: fixed;
	display: block;
	width: 100%;
	height: 50px;
	background-color: #4D7553;
	z-index: 98;
}

body {
	background-image: linear-gradient(#85A69B, #4C6E72);
}

.column {
	flex: 33.33%;

	padding-left: 3vw;
}

.img1 {}

#mamaflora_menu {
	font-family: Philosopher, sans-serif;
	color: #CA9C2C;
	padding: 14px;
	top: 0;
	font-size: 19px;
	position: absolute;
	justify-content: center;
	display: flex;
	width: 100vw;
	margin-top: 0;
	margin: 0;
}

main {
	padding-top: 15vw;
	position: relative;
	max-width: 1280px;
	margin: 0 auto;
}

.divider {
	position: relative;
	margin: 10vw 0 10vw 0;
	height: 1px;
}

.div-transparent:before {
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48, 49, 51), transparent);
}

.div-dot:after {
	content: "";
	position: absolute;
	z-index: 1;
	top: -9px;
	left: calc(50% - 9px);
	width: 18px;
	height: 18px;
	background-color: goldenrod;
	border: 1px solid rgb(48, 49, 51);
	border-radius: 50%;
	box-shadow: inset 0 0 0 2px white,
		0 0 0 4px white;
}

h1 {
	font-family: Philosopher, sans-serif;
	color: #EAEBE6;
	font-size: 2rem;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	padding-bottom: 0vw;
	text-align: left;
	padding-left: 3vw;
}

h2 {
	font-family: Philosopher, sans-serif;
	color: #CA9C2C;
	font-size: 1.5rem;
	text-align: left;
	padding-left: 3vw;
}


h3 {
	font-family: Philosopher, sans-serif;
	color: #EAEBE6;
	font-size: 1.4rem;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-bottom: 20px;
}

p {
	font-family: Quattrocento, sans-serif;
	color: #EAEBE6;
	font-size: 1rem;
	width: 100vw;
	text-align: left;
	padding: 0 3vw 0 3vw;
	margin-bottom: 8vw;
}


.sol img {
	max-width: 80vw;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 0;
}

.vand img {
	max-width: 80vw;
	height: auto;
	margin: auto;
	display: flex;
	justify-content: center;
	padding: 0;
}


/*    SLIDESHOW   */

.billede_slideshow img {
	object-fit: cover;
	height: 50vh;
	width: 100vw;
}

.skift_billede {
	display: flex;
	margin-top: 1vw;
	justify-content: space-evenly;
	align-items: center;
}

.frem,
.tilbage {
	color: #567356;
	font-weight: bold;
	border: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 1.7rem;
}

.frem {
	right: 1vw;
}

.tilbage {
	left: 1vw;
}

.frem:hover,
.tilbage:hover {
	background-color: transparent;
	color: #CA9C2C;
}

.dot {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #85A69B;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.valgt_dot {
	background-color: #4C6E72;
}

/*Tilbageknappen*/

.tilbageknap {
	border-radius: 25px;
	width: 100px;
	height: 40px;
	font-family: Quattrocento, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: #EAEBE6;
	background-color: #567356;
	border: none;
	cursor: pointer;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0.5px solid rgb(234, 235, 230, 0.5);
}

a {
	text-decoration: none;

}

a h2 {
	border-radius: 25px;
	width: 150px;
	font-family: Quattrocento, sans-serif;
	font-size: 1rem;
	font-weight: bold;
	color: #EAEBE6;
	background-color: #567356;
	border: none;
	cursor: pointer;
	text-align: center;
	padding: 15px;
}

a h2:hover {

	color: #EAEBE6;
}


#Egenskaber {
	margin-bottom: 10vw;
}

.koebknap h2 {
	margin-bottom: 8vw;
	border: 0.5px solid rgb(234, 235, 230, 0.5);
}


@media (min-width: 600px) {

	.billede_slideshow img {
		display: flex;
		margin: auto;
		height: 60vh;
		width: 70vw;
	}

}

@media (min-width: 800px) {

	.row {
		display: flex;
	}

	.navn,
	.latin {
		padding-left: 0;
	}

	.sol img {
		width: 20vw;
		height: auto;
		margin: 0;
	}

	.img1 {
		width: 50vw;
		height: auto;
	}

	.vand img {
		width: 20vw;
		height: auto;
		margin: 0;
	}

	#pleje,
	p {
		font-size: 1.3rem;
		width: auto;
		padding: 0;
		margin: 3vw;
	}

	.divider {
		position: relative;
		margin: 5vw 0 5vw 0;
		height: 1px;
	}

	.billede_slideshow img {
		height: 55vh;
		width: 30vw;
	}

	article {
		margin-top: 4vw;
	}

	main {
		padding-top: 5vw;
	}

	#Egenskaber {
		margin: 0;
	}

	.pleje_egenskaber {
		padding: 0 7vw 3vw 7vw;
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	button:hover {
		background-color: #C29D44;
	}

	.koebknap h2:hover {
		background-color: #C29D44;
	}

}




@media (min-width: 1280px) {


	.img1 {
		width: 50vw;
		height: auto;
	}


	#pleje,
	#egenskaber {
		font-size: 1.3rem;
		margin-top: 0.3vw;
	}


	.billede_slideshow img {
		height: 55vh;
		width: 30vw;
	}

	.koebknap h2 {
		margin: auto;
	}

}
